ENVIRONMENT=dev
MODE=web

MYSQL_DATABASE=mydatabase
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_HOST=db
MYSQL_PORT=3306
SECRET_KEY=124u98f9sa~@21cmfowaifjwc3782f
DEBUG=True